html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/back.png");
  background-repeat: repeat;
  background-size: 500px 500px;
  background-position: top left;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

#root {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

.side-image {
  width: 250px;
  height: auto;
}

.container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.side-image.left {
  left: 20px;
}

.side-image.right {
  right: 20px;
}

.start-screen,
.game-screen {
  margin-top: 20px;
}

.status-bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.game-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}

.image-area {
  flex: 1;
  display: flex;
  justify-content: center;
}

.options-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.pokemon-img {
  width: 350px;
  height: auto;
  transition: filter 0.5s ease;
}

.silhouette {
  filter: brightness(0) saturate(100%);
}

.reveal {
  filter: none;
}

.option-button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.correct {
  background-color: #4caf50;
  color: white;
}

.incorrect {
  background-color: rgba(244, 67, 54, 0.7);
  color: white;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 60%;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.time-left {
  font-size: 2rem;
  /* Hace el texto más grande */
  font-weight: bold;
  /* Lo pone en negrita */
  color: #e63946;
  /* Un rojo intenso para destacar */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* Sombra para mayor visibilidad */
}